# IGNORE:

# executable files
*.exe
*.out

# files with logs
_log_*
*.log

# files for debugging
_debug_*

# swp files
*.swp

# project data files
*.txt
*_dump.*

!data/eng_words.txt
!data/rus_words.txt
!data/rus_surnames.txt
